.inspiration_container{
  
  
  
  margin-top: 150px;
  margin-left: 260px;
  max-width: 100%;
  
}

.header{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;

  text-transform: capitalize;
}
.button_item{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  background-color: white;

  border:1px solid #E1E1E1;
  border-radius: 16px;

  padding: 24px 22px;

  margin-left: 10px;
}
.button_item:first-child{
  margin: 0;
}
.button_container{
  width: auto;
  display: flex;
  justify-content: start;
 

}
@media (max-width:1400px) {
  .inspiration_container{
    margin-left: 150px;
  }
}
@media (max-width:1000px) {
  .inspiration_container{
    display:none;
  }
}