.main_container{
  margin: auto;
  max-width: 100%;
  
  margin: 70px 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background-color: #F9FBFC;

  border-radius:16px;
  
}
.text_container{
  max-width: 500px;
  
}
.header{
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  line-height: 56px;

  text-transform: capitalize;
}
.text{
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}
.submit_button{
  color: white;
  background-color:#405FF2;

  font-size: 15px;
  font-weight: medium;
  line-height: 15px;

  padding: 15px 17px;

  border: none;
  border-radius: 12px;

  text-transform: capitalize;
}
.img{
  margin: 40px 0;
  
  
}
@media (max-width:1300px) {
  .main_container{
    margin: 60px 55px;
  }
  .img{
    width: 50%;
  }
}
@media (max-width: 996px) {
  .text_container{
    margin: 20px 0;
  }
  .img{
    display: none;
  }
  .header{
    font-size: 32px;

  }
  .text{
    font-size: 13px;
  }
}
@media (max-width: 568px) {
  .text_container{
    margin: 20px 0;
  }
  .img{
    display: none;
  }
  .header{
    font-size: 24px;

  }
  .text{
    font-size: 12px;
  }
}