.submain_container{

  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: clamp(300px, 80%, 685px);

  background-color: rgba(238, 241, 251, 1);

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.header_container{
  margin-top: 5rem;
  
}
.header_text{

text-align: center;
}
.main_header{
  margin-top: 25px;
  font-size: 70px;
  font-weight: bold;
}
.search_container{
 
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;

  background-color:white;
  border-radius: 40px;

  margin-top: 2%;
}
.search_list{
  display: flex;

  list-style-type: none;
}
.search_item{
  margin-right: 8rem;
}
.search_icon{
  margin: 0.5rem;
  margin-left: auto;
  width: 55px;
  height: 55px;
}
.car_background{
 
  position: relative;
  top: 4rem;

  max-width: 100%;
  
 
}

@media (max-width:1200px) {
  .header_container{
    margin-top: 3rem;
    
  }
  .main_header{
    font-size: 50px;
  }
  .search_icon{
    width: 40px;
    height: 40px;
  }
  .car_background{
    width: 75%;
  }
}
@media (max-width: 992px) {
  .main_header{
    font-size: 40px;
  }
 
  .car_background{
    width: 65%;
  }
  .search_item{
    font-size: 12px;
    margin-right: 3rem;
  }
 
}
@media (max-width: 768px) {
  .main_header{
    font-size: 30px;
  }
  .header_text{
    font-size: 14px;
  }
  .car_background{
   display: none;
  }
  .search_container{
    margin-bottom: 3rem;
  }
  .search_item{
    font-size: 12px;
    margin-right: 3rem;
    
  }
 
}
@media (max-width: 576px) {
  .search_list{
    display: none;
  }
  .search_container{
    width: 250px;
  }
  .header_text{
    font-size: 12px;
  }
  .main_header{
    text-align: center;
    font-size: 20px;
  }
  .search_icon{
    display: flex;
    flex-direction: row-reverse;
  }
}