.main_container{
  display: flex;
  
  align-items:center;
  flex-direction: column;
 
  
}

.main_head{
margin-top: 10rem;
}
.cars_section{
  display: flex;
  justify-content: center;
  flex-direction: row;

  margin: 4rem 0;

  width: 90%;
  
  
}
.car_item{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  
  border: 1px solid #E9E9E9;
  border-radius:16px;
  width: clamp(80px, 10%, 140px);
  aspect-ratio: 14/12;
  
  margin: 0 10px;

}
.car_action_section{
display: flex;
justify-content: center;
width: 100%;

}

.car_action_item{
  
  width: clamp(400px, 80%, 600px);
  height: clamp(200px, 80%, 400px);

 border-radius:16px;

 padding: 3rem;
  margin: 0 7px;
  
  background-color:antiquewhite
}
.car_action_item:first-child{
  background-color:#E9F2FF;
}
.car_action_item:last-child{
  background-color:#FFE9F3;
}
.car_action_name{
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;

  text-transform: capitalize;
  

 
  width: 47%;
}
.car_action_text{
  font-size: 15px;
  line-height: 28px;

  margin: 14px 0;
  width: 75%;
  
}
.submit_button{


  font-size: 15px;
  text-transform: capitalize;

  color: white;
  background-color:#405FF2;

  border:none;
  border-radius: 12px;

  width: 10rem;
  height: 4rem;

}
.car_action_item:last-child button{
  background-color:#050B20;
}

.footer{
  display: flex;
  justify-content: space-between;
}
