.reviews_container {
  
  margin: auto;
  margin-top: 100px;
  width: 90%;
  background-color: #405FF2;
  padding: 10px; 
  border-radius:16px;
}

.main_container {
  margin: 70px 135px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 

  
}

.header_container {
  flex:1;
  text-align: left; 
  color:white
  
}
.header{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  
}
.text{
  width: 70%;

  font-size: 15px;
  font-weight: 400;
  line-height: 28px;

}
.reviews_list {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex:2;
  
}

.reviews_img {
  
 
  
}
